{% extends 'UserBundle:Default:home.html.twig' %}

{% block content %}
    <form action="{{ path('user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <fieldset>
            <legend>{% trans %}Edit User{% endtrans %}</legend>
            <div class="text-error">{{ form_errors(edit_form) }}</div>
            <div class="control-group">
                {{ form_label(edit_form.firstname) }}
                <div class="controls">
                    {{ form_widget(edit_form.firstname) }}
                </div>
                <div class="text-error">{{ form_errors(edit_form.firstname) }}</div>
            </div>
            <div class="control-group">
                {{ form_label(edit_form.lastname) }}
                <div class="controls">
                    {{ form_widget(edit_form.lastname) }}
                </div>
                <div class="text-error">{{ form_errors(edit_form.lastname) }}</div>
            </div>
            <div class="control-group">
                {{ form_label(edit_form.showname) }}
                <div class="controls">
                    {{ form_widget(edit_form.showname) }}
                </div>
                <div class="text-error">{{ form_errors(edit_form.showname) }}</div>
            </div>
            <div class="control-group">
                {{ form_label(edit_form.newsgroups) }}
                <div class="controls">
                    {{ form_widget(edit_form.newsgroups) }}
                </div>
                <div class="text-error">{{ form_errors(edit_form.newsgroups) }}</div>
            </div>
            <div class="control-group">
                {{ form_label(edit_form.username) }}
                <div class="controls">
                    {{ form_widget(edit_form.username) }}
                </div>
                <div class="text-error">{{ form_errors(edit_form.username) }}</div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{ form_widget(edit_form.password) }}
                </div>
                <div class="text-error">{{ form_errors(edit_form.password) }}</div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">{% trans %}edit{% endtrans %}</button>
                </div>
            </div>
            {{ form_widget(edit_form._token) }}
        </fieldset>
    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('user') }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
        <li>
            <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button class="btn" type="submit">{% trans %}Delete{% endtrans %}</button>
            </form>
        </li>
    </ul>
{% endblock %}
