{% extends 'UserBundle:Default:home.html.twig' %}

{% block content %}
    <h2>{% trans %}User{% endtrans %}</h2>

    <table class="table">
        <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Firstname{% endtrans %}</th>
            <td>{{ entity.firstname }}</td>
        </tr>
        <tr>
            <th>{% trans %}Lastname{% endtrans %}</th>
            <td>{{ entity.lastname }}</td>
        </tr>
        <tr>
            <th>{% trans %}Username{% endtrans %}</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>{% trans %}Creation Date{% endtrans %}</th>
            <td>{{ entity.creationdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Showname{% endtrans %}</th>
            <td>{{ entity.showname }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('user') }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': entity.id }) }}">
                {% trans %}Edit{% endtrans %}
            </a>
        </li>
        <li>
            <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button type="submit">{% trans %}Delete{% endtrans %}</button>
            </form>
        </li>
    </ul>
{% endblock %}
