{% extends 'UserBundle::base.html.twig' %}
{% set left_align = (app.request.locale == 'en') %}
{% set _locale = app.request.locale %}
{% block stylesheets %}
    {{ parent() }}
    {% if left_align %}
        {% stylesheets 'bundles/user/css/en/home.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% else %}
        {% stylesheets 'bundles/user/css/fa/home.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endif %}
{% endblock %}

{% block body %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                </button>
                <div id="brand" class="nav brand" href="#">
                    {% trans %}News Management System{% endtrans %}
                </div>
                <div class="nav-collapse collapse">
                    <ul id="user" class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i>
                                {{ app.user.getShowName }}
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('user_show', {'id': app.user.id, '_locale': _locale}) }}">
                                        {% trans %}View Profile{% endtrans %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('user_edit', {'id': app.user.id, '_locale': _locale}) }}">
                                        {% trans %}Edit Profile{% endtrans %}
                                    </a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{{ path('user', {'id': app.user.id, '_locale': _locale}) }}">
                                            {% trans %}List Users{% endtrans %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('user_new', {'_locale': _locale}) }}">
                                            {% trans %}Create User{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('logout', {'_locale': _locale}) }}">
                                {% trans %}Sign Out{% endtrans %}
                            </a>
                        </li>
                    </ul>
                    </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div id="sidebar" class="span2">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">{% trans %}News{% endtrans %}</li>
                    <li>
                        <a href="{{ path('news_new', {'_locale': _locale}) }}">
                            {% trans %}Create News{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('news', {'_locale': _locale}) }}">
                            {% trans %}My Old News{% endtrans %}
                        </a>
                    </li>
                    <li class="nav-header">{% trans %}News Group{% endtrans %}</li>
                    <li>
                        <a href="{{ path('newsgroup', {'_locale': _locale}) }}">
                            {% trans %}View News Groups{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('newsgroup_new', {'_locale': _locale}) }}">
                            {% trans %}Create News Group{% endtrans %}
                        </a>
                    </li>
                    <br>
                    <li class="nav-header">{% trans %}User{% endtrans %}</li>
                    <li>
                        <a href="{{ path('user_show', {'id': app.user.id, '_locale': _locale}) }}">
                            {% trans %}View Profile{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', {'id': app.user.id, '_locale': _locale}) }}">
                            {% trans %}Edit Profile{% endtrans %}
                        </a>
                    </li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            {% block content %}
            {% endblock %}
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    <hr>
    <footer class='footer'>
        <p>&copy; Behnam 2013</p>
    </footer>
{% endblock %}