{% extends 'UserBundle::base.html.twig' %}
    {% block title %}{% trans %}Login{% endtrans %}{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        {% if app.request.locale == 'en' %}
            {% stylesheets  '@UserBundle/Resources/public/css/en/login.css' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% else %}
            {% stylesheets  '@UserBundle/Resources/public/css/fa/login.css' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endif %}
    {% endblock %}
{% block body %}
    <div class="container">
        <form class="form-signin" action="{{ path('login_check') }}" method="post">
            <h2 class="form-signin-heading">{% trans %}Please sign in{% endtrans %}</h2>
            <input id="username" name="_username" type="text" class="input-block-level"
                   placeholder="{% trans %}Username{% endtrans %}">
            <input id="password" name="_password" type="password" class="input-block-level"
                   placeholder="{% trans %}Password{% endtrans %}">
            {% if error %}
                <p class="text-error">{{ error.message | trans() }}</p>
            {% endif %}
            <button class="btn btn-large btn-primary" type="submit">{% trans %}Sign in{% endtrans %}</button>
        </form>
    </div>
    <!-- /container -->
{% endblock %}