{% extends 'UserBundle:Default:home.html.twig' %}

{% block content %}
    <form action="{{ path('newsgroup_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <fieldset>
            <legend>{% trans %}Edit News Group{% endtrans %}</legend>
            <div class="text-error">{{ form_errors(edit_form) }}</div>
            <div class="control-group">
                {{ form_label(edit_form.name) }}
                <div class="controls">
                    {{ form_widget(edit_form.name) }}
                </div>
                <div class="text-error">{{ form_errors(edit_form.name) }}</div>
            </div>
            <div class="control-group">
                {{ form_label(edit_form.level) }}
                <div class="controls">
                    {{ form_widget(edit_form.level) }}
                </div>
                <div class="text-error">{{ form_errors(edit_form.level) }}</div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">{% trans %}edit{% endtrans %}</button>
                </div>
            </div>
            {{ form_widget(edit_form._token) }}
        </fieldset>
    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('newsgroup') }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
        <li>
            <form action="{{ path('newsgroup_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button class="btn" type="submit">{% trans %}Delete{% endtrans %}</button>
            </form>
        </li>
    </ul>
{% endblock %}
