{% extends 'UserBundle:Default:home.html.twig' %}

{% block content %}
    <h3>{% trans %}NewsGroup list{% endtrans %}</h3>

    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Creation Date{% endtrans %}</th>
            <th>{% trans %}Level{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('newsgroup_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.creationdate %}{{ entity.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.level }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('newsgroup_show', { 'id': entity.id }) }}">{% trans %}
                                show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('newsgroup_edit', { 'id': entity.id }) }}">{% trans %}
                                edit{% endtrans %}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('newsgroup_new') }}">
                {% trans %}Create a new entry{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}
