{% extends 'UserBundle:Default:home.html.twig' %}

{% block content %}
    <h2>NewsGroup list</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Identifier</th>
            <th>Name</th>
            <th>Creation Date</th>
            <th>Level</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('newsgroup_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.creationdate %}{{ entity.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.level }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('newsgroup_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('newsgroup_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('newsgroup_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
