{% extends 'UserBundle:Default:home.html.twig' %}

{% block content %}
    <form action="{{ path('newsgroup_create') }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
            <legend>{% trans %}News Group Creation{% endtrans %}</legend>
            <div class="text-error">{{ form_errors(form) }}</div>
            <div class="control-group">
                {{ form_label(form.name) }}
                <div class="controls">
                    {{ form_widget(form.name) }}
                </div>
                <div class="text-error">{{ form_errors(form.name) }}</div>
            </div>
            <div class="control-group">
                {{ form_label(form.level) }}
                <div class="controls">
                    {{ form_widget(form.level) }}
                </div>
                <div class="text-error">{{ form_errors(form.level) }}</div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">{% trans %}create{% endtrans %}</button>
                </div>
            </div>
            {{ form_widget(form._token) }}
        </fieldset>
    </form>
    <br>
    <ul class="record_actions">
        <li>
            <a href="{{ path('newsgroup') }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}
