{% extends 'NewsBundle::layout.html.twig' %}
{% set _locale = app.request.locale %}
{% set page_count = (news_count + ((15 - news_count) % 15)) / 15 %}
{% block body %}
    {% include 'NewsBundle::header.html.twig' with {'groups' : groups} %}
    <div id="gkpagecontent" class="gkPage">
        <div id="gkPageContent" class="gkPage">
            <section id="gkContent">
                <div id="gkContentCategory">
                    <section id="gkBreadcrumb">
                        <div class="breadcrumbs">
                            <a href="{{ path('news_homepage', {'_locale': _locale}) }}">
                                Main window
                            </a> &gt;
                            <a href="{{ path('news_category', {'_locale': _locale, 'id': group.id}) }}">
                                {{ group.name }}
                            </a>
                        </div>
                        <div class="ie8clear">
                        </div>
                    </section>
                    <section id="CategoryChoosen">
                        <div>
                            <section id="k2Container">'
                                <div class="box bigtitle nsphover">
                                    <div class="content">
                                        {% for index in range(0, 2) %}
                                            {% if index < news_count %}
                                                <div class="catTop nspArt nspCol30">
                                                    <div style="min-height: 305px">
                                                        <a href="{{ path("news_single",{'_locale': _locale, 'id':latest_news[index].id }) }}"
                                                           class="nspImageWrapper tleft fleft gkResponsive">
                                                            <img class="nspImage tleft fleft gkResponsive"
                                                                 src="{{ asset('upload/' ~ latest_news[index].id ~'/' ~ latest_news[index].image) }}"
                                                                 width="295px" style="opacity: 1;">
                                                        </a>
                                                        <h4 class="nspHeader tleft fnone">
                                                            <a href={{ path("news_single", {'_locale': _locale, 'id' : latest_news[index].id }) }}>
                                                                {{ latest_news[index].title }}
                                                            </a>
                                                        </h4>

                                                        <div class="nspHoverOverlay">
                                                            <h4 class="nspHeader tleft fnone">
                                                                <a href="{{ path("news_single",{'_locale': _locale, 'id':latest_news[index].id }) }}">
                                                                    {{ latest_news[index].title }}
                                                                </a>
                                                            </h4>

                                                            <div class="nspText">
                                                                <a href="{{ path("news_single", {'_locale': _locale, 'id':latest_news[index].id }) }}">
                                                                    {{ latest_news[index].abstract }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                    <section id="gkmainbody">
                        <div>
                            <div class='nsp bigtitle mobilelayout'>
                                <div class="content">
                                    {% for index, news in all_news %}
                                        {% if index < 15 %}
                                            <div class='nspArt nspCol1 categoryList'>
                                                <a href="{{ path("news_single", {'_locale': _locale, 'id':news.id }) }}"
                                                   class='nspImageWrapper tleft fleft gkResponsive'>
                                                    <img class='nspImage tleft fleft gkResponsive'
                                                         src="{{ asset('upload/' ~ news.id ~'/' ~ news.image) }}"
                                                         width='170px' height='118px'>
                                                </a>

                                                <div class='gkArtContentWrap'>
                                                    <p class='nspInfo  nspInfo1 tleft fleft'>
                                                    </p>
                                                <span class='nspDate tright fright'>
                                                    {{ news.creationdate|date('Y-m-d H:i:s') }}
                                                </span>
                                                    <h4 class='nspHeader tleft fnone'>
                                                        <a href="{{ path("news_single",{'_locale': _locale, 'id':news.id }) }}">
                                                            {{ news.title }}
                                                        </a>
                                                    </h4>

                                                    <p class='nspText tleft fleft'>
                                                        {{ news.abstract }}
                                                    </p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="pagination">
                                    <div class="wp-pagenavi">
                                    <span class="pages">
                                        {% trans %}page{% endtrans %}
                                        {{ current_page }}
                                        {% trans %}out of{% endtrans %}
                                        {{ page_count }}
                                    </span>
                                    <span class="current">
                                        {{ current_page }}
                                    </span>
                                        {% set low = current_page - (current_page % 10) + 1 %}
                                        {% set high = current_page + 10 - (current_page % 10) %}
                                        {% if high > page_count - 1 %}
                                            {% set high = page_count - 1 %}
                                        {% endif %}
                                        {% if current_page > 1 %}
                                            <a href="{{ path('news_category',{'_locale': _locale, 'id' : group.id,'page': current_page-1}) }}"
                                               class="previous">
                                                {% trans %}back{% endtrans %}
                                            </a>
                                        {% endif %}
                                        {% for index in range (low,high) %}
                                            <a href="{{ path('news_category',{'_locale': _locale, 'id' : group.id, 'page': index}) }}"
                                               class="page">
                                                {{ index }}
                                            </a>
                                        {% endfor %}
                                        <a href="{{ path('news_category',{'_locale': _locale, 'id' : group.id, 'page': high+1}) }}"
                                           class="page">
                                            ...
                                        </a>
                                        <a href="{{ path('news_category', {'_locale': _locale, 'id' : group.id,'page':page_count}) }}"
                                           class="page">
                                            {{ page_count }}
                                        </a>
                                        {% if current_page < page_count %}
                                            <a href="{{ path('news_category', {'_locale': _locale, 'id' : group.id,'page':current_page+1}) }}"
                                               class="next">
                                                {% trans %} next {% endtrans %}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <aside id="gkSidebar">
                <div class="block_search_top">
                    <form action="{{ path('news_search') }}" method="GET">
                        <div class="field">
                            <input type="text" class="w_def_text" id="search-box" name="query"
                                   title="{% trans %}Fast Search{% endtrans %}">
                        </div>
                        <input type="hidden" name="submited" value="1">
                        <input type="hidden" name="positions" value="-1">
                        <input type="submit" class="button" id="search-button">

                        <div class="clearboth"></div>
                    </form>
                </div>


                <div style="padding: 10px 22px 0 0;">

                </div>

                <div style="padding: 2px 5px 0 0;">

                </div>
            </aside>
        </div>
    </div>
    <footer id="gkFooter" class="gkPage">
        <p id="gkCopyrights">©
            <a href="{{ path('news_homepage', {'_locale': _locale}) }}" title="News agancy">
                {% trans %}News Agency{% endtrans %}
            </a>
            All rights reserved.
        </p>
    </footer>
{% endblock %}


{% block javascripts %}
    <script>mainNavigation();
        catContent();
        homepageSidebar();
        categoryView();
    </script>
{% endblock %}