{% set _locale = app.request.locale %}
<header>
    <div id=header>
        <section class="top">
            <div class="inner">
                <div class="fr">
                    <div class="block_top_menu">
                        <ul>
                            <li><a href="{{ path('news_homepage',{'_locale' : 'fa'}) }}">فارسی</a></li>
                            <li><a href="{{ path('news_homepage',{'_locale' : 'en'}) }}">english</a></li>
                        </ul>
                    </div>

                    <div class="block_social_top">
                        <ul>
                            {% set rsslink = path('news_rss') %}
                            {% if cur_cat_id is defined %}
                                {% set rsslink = path('news_rss', {'services': cur_cat_id}) %}
                            {% endif %}
                            {% if rss is defined %}
                                {% set rsslink = path('news_rss', rss) %}
                            {% endif %}
                            <li><a href="{{ rsslink }}"
                                   class="rss">RSS</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearboth"></div>
            </div>
        </section>
        <section class="bottom">
            <div class="inner">
                <div id="logo_top">

                </div>


                <div class="clearboth"></div>
            </div>

        </section>
        <section class="section_main_menu">
            <div class="inner">
                <nav class="main_menu">
                    <ul>
                        <li {% if cur_cat_id is defined %}class="big_dropdown"{% else %} class="big_dropdown current_page_item" {% endif %}
                            data-content="MainPage">
                            <a href="{{ path("news_homepage", {'_locale': _locale}) }}">
                                {% trans %}Main window{% endtrans %}
                            </a>
                        </li>
                        {% for  group in groups %}
                            <li {% if cur_cat_id is defined and cur_cat_id == group.id %}class="big_dropdown current_page_item"
                                {% else %}class="big_dropdown" {% endif %} data-content="{{ group.id }}">
                                <a href="{{ path("news_category", {'_locale': _locale , 'id' : group.id}) }}">
                                    {{ group.name | trans() }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </section>
        <section class="section_big_dropdown">
            <div class="inner">
                {% for group_index, group in groups %}
                    <div class="block_big_dropdown" data-menu="{{ group.id }}" style="display: none;">
                        <div class="content">
                            {% for news_index, news in group.getTopNews() %}
                                {% if news_index < 2 %}
                                    <div class="image">
                                        <a href="{{ path('news_single',{'_locale': _locale, 'id': news.id}) }}"
                                           class="pic">
                                            <img src="{{ asset('upload/' ~ news.id ~'/' ~ news.image) }}">
                                        </a>

                                        <p>
                                            <a href="{{ path("news_single", {'_locale': _locale, 'id' : news.id}) }}">
                                                {{ news.title }}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="line">
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="popular_posts">
                                <div class="title">
                                    <p>
                                        {% trans %}Selection of news{% endtrans %}
                                    </p>
                                </div>
                                <ul>
                                    {% for news_index, news in group.getTopNews() %}
                                        {% if news_index < 7 %}
                                            <li>
                                                <a href="{{ path('news_single',{'_locale': _locale, 'id':news.id}) }}">
                                                    {{ news.title }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {#<div class="line">#}
                            {#</div>#}
                            <div class="clearboth"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="section_secondary_menu">

            <div class="inner">
                <nav class="secondary_menu">

                    <span>گزیده ای از اخبار :</span>
                    {% for index,news in selected_news %}
                        <div id='{{ index }}' style="display:none" class="ticker-wrapper has-js right"><p
                                    class="ticker-content"><a
                                        href="{{ path('news_single',{id : selected_news[index].id}) }}">{{ selected_news[index].title }}</a>
                            </p></div>
                    {% endfor %}
                    <div numofnews='{{ selected_news |length }}' id='0' class='ticker-swipe'><span
                                style="display : block"></span></div>
                </nav>

            </div>
        </section>
    </div>
    <script>
        secondaryMenu();
    </script>
</header>