{% extends 'NewsBundle::layout.html.twig' %}
{% set _locale = app.request.locale %}
{% block body %}
    {% include 'NewsBundle::header.html.twig' with {'groups' : groups,'selected_news': selected_news} %}
    {#{{ path(app.request.attributes.get('_route'))}}#}
    <div id="gkPageContent" class="gkPage">
    <section id="gkContent">
        <section class="gkMain">
            <div class="box nsp clear light header">
                <div class="nspMain nspFs100 activated">

                    <div class="nspArts right box nsp bigtitle nsphover nomargin" style="width: 350px;">
                        <div class="nspArt nspCol1">
                            <div class="center tcenter fnone gkResponsive">

                                <a href="{{ path('news_single',{'_locale': _locale, 'id' : important_news.id}) }}"
                                   target="_blank"
                                   class="nspImageWrapper tcenter fnone gkResponsive">
                                    <img class="nspImage noborder"
                                         src='{{ asset('upload/' ~ important_news.id ~'/' ~ important_news.image ) }}'
                                         alt=" "
                                         style="opacity: 1;">
                                </a>
                                <h4 class="nspHeader tleft fnone MainHeader" style="display: block;">
                                    <a href="{{ path('news_single',{'_locale': _locale, 'id' : important_news.id}) }}"
                                       target="_blank"
                                       class="nspImageWrapper tcenter fnone gkResponsive">
                                    </a>
                                    <a href="{{ path('news_single',{'_locale': _locale, 'id' : important_news.id}) }}"
                                       target="_blank">{{ important_news.title }}
                                    </a>
                                </h4>


                                <div class="nspHoverOverlay">
                                    <h3 class="nspHeader tleft fnone">
                                        <a href="{{ path('news_single',{'_locale': _locale, 'id' : important_news.id}) }}"
                                           target="_blank">{{ important_news.title }}</a>
                                    </h3>

                                    <div class="nspText">
                                        <a target="_blank"
                                           href="{{ path('news_single',{'_locale': _locale, 'id' : important_news.id}) }}">{{ important_news.abstract }}</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="nspLinksWrap right">
                        <div class="nspLinks">
                            <div class="nspLinkScroll1">

                                <div class="nspLinkScroll2 nspPages4">

                                    <ul class="nspArt nspList slider" id="slide_0" style="display: block;">
                                        {% for i in range(0,5) %}
                                            {% if top_news[i] is defined %}
                                                <li {% if i%2 ==0 %} class="even"{% endif %} >
                                                    <img class="nspImage"
                                                         src="{{ asset('upload/' ~ top_news[i].id ~'/' ~ top_news[i].image) }}"
                                                         style="width:30%">
                                                    <h4><a href="{{ path('news_single',{'id':top_news[i].id}) }}"
                                                           target="_blank">{{ top_news[i].title }}</a></h4>
                                                </li>


                                            {% endif %}
                                        {% endfor %}
                                    </ul>

                                    <ul class="nspArt nspList slider" id="slide_1" style="display: none;">
                                        {% for i in range(6,11) %}
                                            {% if top_news[i] is defined %}
                                                <li {% if i%2 ==0 %} class="even"{% endif %} >
                                                    <img style="width:30%" class="nspImage"
                                                         src="{{ asset('upload/' ~ top_news[i].id ~'/' ~  top_news[i].image) }}">
                                                    <h4><a href="{{ path('news_single',{'id':top_news[i].id}) }}"
                                                           target="_blank">{{ top_news[i].title }}</a></h4>


                                                </li>
                                            {% endif %}
                                        {% endfor %}


                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="nspBotInterface">
                        <div>
                            <ul id="SliderPaging" class="nspPagination">
                                <li act="slide_0" class="">0</li>
                                <li act="slide_1" class="active">1</li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>

        </section>
        <div id="gkContentWrap">
            {% for group_index, group in groups %}

                <section class='gkMainbodyTop'>
                    <div class='catBorder'>
                        <div class='catHeader'>
                            <div><a href='#'>{{ group.name }}</a></div>
                        </div>
                    </div>
                    <div class='box nsp clear light header'>
                        <div class='nspMain nspFs100 activated' style='width: 100%;' data-direction='ltr'>
                            <div class='nspArts aright' style='width: 60%;' catid="{{ group.id }}">
                                <div class='nspArtScroll1'>
                                    <div class='nspArtScroll2 nspPages1'>
                                        <div class='nspArtPage nspCol1'>

                                            <div class='nspArt nspCol1 catMain'>
                                                <div class='center tcenter fnone gkResponsive'>
                                                    <a href='{{ path('news_single',{'id':group.getTopNews()[0].id}) }}'
                                                       target='_blank'
                                                       class='nspImageWrapper tcenter fnone gkResponsive'>
                                                        <img class='nspImage'
                                                             src='{{ asset('upload/' ~ group.getTopNews()[0].id ~'/' ~ group.getTopNews()[0].image) }}'
                                                             alt="">
                                                    </a>
                                                </div>
                                                <h4 class='tleft fnone'>
                                                    <a href="{{ path('news_single',{'id':group.getTopNews()[0].id}) }}"
                                                       target='_blank'>{{ group.getTopNews()[0].title }}</a>
                                                </h4>

                                                <p class='nspText tleft fleft tjustify'>
                                                </p>

                                                <div class='AbsText'>{{ group.getTopNews()[0].abstract }}
                                                </div>
                                                <p></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='nspLinksWrap aright' style='width: 39.9%;'>
                                <div class='nspLinks'>
                                    <div class='catLinkScroll1'>

                                        <div class='nspLinkScroll2 nspPages4'>
                                            <ul class='nspArt nspList catList nspCol4'
                                                catlist="{{ group.id }}">
                                                {% for index,post in group.getTopNews() %}
                                                    {% if index < 6 %}
                                                        <li class='even'><img class='nspImage tleft fleft gkResponsive'
                                                                              src="{{ asset('upload/' ~ post.id ~'/' ~  post.image) }}"
                                                                              alt="">
                                                            <h4><a href="{{ path('news_single',{'id':post.id}) }}"
                                                                   target='_blank'>{{ post.title }}</a></h4>
                                                            <input type='hidden' class='abstractText'
                                                                   value="{{ post.abstract }}"></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </div>
    </section>

    <aside id="gkSidebar">

        <div class="block_search_top">
            {# action dorost shavad #}
            <form action={{ path('news_search') }} method=
            "GET">
            <div class="field">
                <input type="text" class="w_def_text" id="search-box" name="query" title="چستجوی سریع">
            </div>
            <input type="hidden" name="submited" value="1">
            <input type="submit" class="button" id="search-button">

            <div class="clearboth"></div>
            </form>
        </div>


        <div style="padding: 10px 22px 0 0;">

        </div>

        <div style="padding: 2px 5px 0 0;">

        </div>

        <div class="tabbed_area">
            <ul class="LeftTopTabs">
                <li class="first" act="content_1"><a>برگزيده</a></li>
                <li class="middle active" act="content_2" style="float: left;"><a>آخرين اخبار</a></li>
            </ul>
            <div id="content_1" class="content" style="display: none; overflow: hidden;">
                <ul style="-webkit-transform: translateZ(0); height: 950px;">
                    {% for index,news in selected_news %}
                        {% if index < 15 %}
                            <li class="active"><a href="{{ path('news_single',{'id': news.id}) }}"
                                                  target="_blank">{{ news.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                </ul>
            </div>
            <div id="content_2" class="content" style="display: block; overflow: hidden;">
                <ul style="-webkit-transform: translateZ(0); height: 1390px;">
                    {% for index,news in recent_news %}
                        {% if index < 15 %}
                            <li class="active"><a href="{{ path('news_single',{'id': news.id}) }}"
                                                  target="_blank">{{ news.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>


    </aside>
    </div>
    <footer id="gkFooter" class="gkPage">


        <p id="gkCopyrights">© <a href="http://www.tasnimnews.com/" title="Tasnim News Agency">Tasnim News Agency</a>.
            All rights reserved.</p>


    </footer>
    <div id="backtotop" style="display:none;"><a>
            <img src="{{ asset('bundles/news/img/back2up.png') }}" border="0" alt="Go to TOP"></a></div>

{% endblock %}

{% block javascripts %}
    <script>
        mainNavigation();
        middleContent();
        catContent();
        homepageSidebar();
        backTop();
    </script>
{% endblock %}