{% extends 'NewsBundle::layout.html.twig' %}
{% set _locale = app.request.locale %}

{% block body %}
    {% include 'NewsBundle::header.html.twig' with {'groups' : groups} %}
    <div id="gkPageContent" class="gkPage">
        <section id='gkContent'>
            <div id='gkContentCategory'>
                <section id='gkBreadcrumb'>
                    <div class='breadcrumbs'>";
                        <a href='{{ path('news_homepage', {'_locale': _locale}) }}'>
                            {% trans %}Main Page{% endtrans %}
                        </a> &gt;
                        <a href="{{ path('news_single',{'_locale': _locale , 'id':news.id}) }}">
                            {{ news.newsgroup.name }}
                        </a>
                    </div>
                    <div class=' ContentCount'>
                        {% trans %}News group{% endtrans %}:
                        {{ news.newsgroup.name }}
                        ,{% trans %}Creation date{% endtrans %}:
                        {{ news.creationdate|date('Y-m-d H:i:s') }}
                        ,{% trans %}News identifier{% endtrans %}:
                        {{ news.id }}
                    </div>
                </section>
                <section id='gkMainStory'>
                    <div>
                        <article id='k2Container' class='itemView'>";
                            <img src="{{ asset('upload/' ~ news.id ~'/' ~ news.image) }}" alt="" width='400px'>
                            <header>
                                <span>{{ news.title }}</span>

                                <h1>{{ news.title }}</h1>

                                <div class='Abstract'>
                                    {{ news.abstract }}
                                </div>
                            </header>
                            <div class="actionBox">
                                <a href="javascript:Print('70598');">
                                    <img src="{{ asset('bundles/news/img/print.png') }}" alt="print">
                                    <span>Print version</span>
                                </a>
                            </div>
                            <div class="itemBody StoryBody">
                                <div class="itemFullText">
                                    {{ news.content|raw }}
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </div>

        </section>
        <aside id="gkSidebar">

            <div class="box nsp color">
                <div class="splitHeader"><a href="/Home/Category/1" target="_blank">اخبار داغ</a></div>
                <div class="content side catList">
                    {% for post in hotnews %}
                        <div class="nspArt nspCol1">
                            <a href="{{ path('news_show',{'id':post.id}) }}" target="_blank"
                               class="nspImageWrapper tleft fleft gkResponsive">
                                <img class="nspImage tleft fleft gkResponsive"
                                     src="{{ asset('upload/' ~ post.id ~'/' ~ post.image) }}"></a>

                            <div class="gkArtContentWrap">
                                <h4 class="nspHeader tleft fnone"><a href="{{ path('news_show',{'id':post.id}) }}"
                                                                     target="_blank">{{ post.title }}</a></h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </aside>
        <div id="gkCommentWrap">
            <section class='gkComment'>
                <div class="comBorder">
                    {#<a id="postcomment" style="font-size: 20px;position:relative ;left:10px; top:-20px;"> پاسخ</a>#}
                    <div class="comHeader">

                        <div>
                            نظرات بینندگان
                        </div>
                    </div>
                    <div class="comHeader comReply" style=" right:94%;">

                        <div>
                            پاسخ
                        </div>
                    </div>

                </div>
                <div class="comment box nsp clear light header">
                    {% set curlevel = -1 %}
                    {% for i in range (0,news.comments |length -1) %}
                    {% if news.comments[i] is defined %}
                    {% for j in range(news.comments[i].level,curlevel) %}
                    {% if news.comments[i].level<= curlevel %}
                </div>
                {% endif %}
                {% endfor %}
                {% include 'CommentBundle::comment.html.twig' with {'comment' : news.comments[i]} %}
                {% set curlevel=news.comments[i].level %}
                {% endif %}
                {% endfor %}
                {% if news.comments|length > 0 %}
        </div>
        {% endif %}


    </div>
    </section>



    </div>





    </div>

    <div class="commentReply" style="display : none" parentid="0">
        <div class="commentReplyHeader">
            <label style="margin : 5px">name:</label>
            <input type="text"></input>
        </div>
        <div id="commenteditor">
            <textarea style="width : 100%" rows="10">
            </textarea>
        </div>
        <div style="margin : 0px 5px ">
            <button class="commentsend">send</button>
            <button class="commentcancel">cancel</button>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        mainNavigation();
        newComment();
        likeDislike();
    </script>
{% endblock %}





