{% extends 'NewsBundle::layout.html.twig' %}
{% set _locale = app.request.locale %}

{% block body %}
    {% include 'NewsBundle::header.html.twig' with {'groups' : groups} %}
    <div id="gkPageContent" class="gkPage">
        <section id='gkContent'>
            <div id='gkContentCategory'>
                <section id='gkBreadcrumb'>
                    <div class='breadcrumbs'>";
                        <a href='{{ path('news_homepage', {'_locale': _locale}) }}'>
                            {% trans %}Main Page{% endtrans %}
                        </a> &gt;
                        <a href="{{ path('news_single',{'_locale': _locale , 'id':news.id}) }}">
                            {{ news.newsgroup.name }}
                        </a>
                    </div>
                    <div class=' ContentCount'>
                        {% trans %}News group{% endtrans %}:
                        {{ news.newsgroup.name }}
                        ,{% trans %}Creation date{% endtrans %}:
                        {{ news.creationdate|date('Y-m-d H:i:s') }}
                        ,{% trans %}News identifier{% endtrans %}:
                        {{ news.id }}
                    </div>
                </section>
                <section id='gkMainStory'>
                    <div>
                        <article id='k2Container' class='itemView'>";
                            <img src="{{ asset('upload/' ~ news.id ~'/' ~ news.image) }}" alt="" width='400px'>
                            <header>
                                <span>{{ news.title }}</span>

                                <h1>{{ news.title }}</h1>

                                <div class='Abstract'>
                                    {{ news.abstract }}
                                </div>
                            </header>
                            <div class="actionBox">
                                <a href="javascript:Print('70598');">
                                    <img src="{{ asset('bundles/news/img/print.png') }}" alt="print">
                                    <span>Print version</span>
                                </a>
                            </div>
                            <div class="itemBody StoryBody">
                                <div class="itemFullText">
                                    {{ news.content }}
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </section>
    </div>
{% endblock %}





