{% extends 'UserBundle:Default:home.html.twig' %}

{% block content %}
    <form action="{{ path('news_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <fieldset>
            <legend>{% trans %}News Edit{% endtrans %}</legend>
            <div class="text-error">{{ form_errors(edit_form) }}</div>
            <div class="control-group">
                {{ form_label(edit_form.newsgroup) }}
                <div class="controls">
                    {{ form_widget(edit_form.newsgroup) }}
                </div>
                <div class="text-error">{{ form_errors(edit_form.newsgroup) }}</div>
            </div>
            <div class="control-group">
                {{ form_label(edit_form.image) }}
                <div class="controls">
                    {{ form_widget(edit_form.image) }}
                </div>
                <div class="text-error">{{ form_errors(edit_form.image) }}</div>
            </div>
            <div class="control-group">
                {{ form_label(edit_form.title) }}
                <div class="controls">
                    {{ form_widget(edit_form.title) }}
                </div>
                <div class="text-error">{{ form_errors(edit_form.title) }}</div>
            </div>
            <div class="control-group">
                {{ form_label(edit_form.abstract) }}
                <div class="controls">
                    {{ form_widget(edit_form.abstract) }}
                </div>
                <div class="text-error">{{ form_errors(edit_form.abstract) }}</div>
            </div>
            <div class="control-group">
                {{ form_label(edit_form.content) }}
                <div id="content" class="controls">
                    {{ form_widget(edit_form.content) }}
                </div>
                <div class="text-error">{{ form_errors(edit_form.content) }}</div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">{% trans %}edit{% endtrans %}</button>
                </div>
            </div>
            {{ form_widget(edit_form._token) }}
        </fieldset>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('news') }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
        <li>
            <form action="{{ path('news_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}
