{% extends 'UserBundle:Default:home.html.twig' %}
{% set _locale = app.request.locale %}

{% block content %}
    <h3>{% trans %}News list{% endtrans %}</h3>

    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <th>{% trans %}Title{% endtrans %}</th>
            <th>{% trans %}Newsgroup{% endtrans %}</th>
            <th>{% trans %}Creation Date{% endtrans %}</th>
            <th>{% trans %}Visit{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('news_show', { 'id': entity.id, '_locale': _locale}) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.newsgroup }}</td>
                <td>{% if entity.creationdate %}{{ entity.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.getVisit() }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('news_show', { 'id': entity.id, '_locale': _locale}) }}">
                                {% trans %}show{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('news_edit', { 'id': entity.id, '_locale': _locale}) }}">
                                {% trans %}edit{% endtrans %}
                            </a>
                        </li>
                        {% if is_granted('ROLE_MANAGER') %}
                            {% if entity.confirmed == false %}
                                <li>
                                    <a href="{{ path('news_confirm', { 'id': entity.id, '_locale': _locale}) }}">
                                        {% trans %}confirm{% endtrans %}
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('news_new', {'_locale': _locale}) }}">
                {% trans %}Create a new entry{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}
