{% extends 'UserBundle:Default:home.html.twig' %}
{% set _locale = app.request.locale %}

{% block content %}
    <h3>
        {% trans %}News{% endtrans %}
    </h3>

    <table class="table">
        <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Newsgroup{% endtrans %}</th>
            <td>{{ entity.newsgroup }}</td>
        </tr>
        <tr>
            <th>{% trans %}Title{% endtrans %}</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>{% trans %}Abstract{% endtrans %}</th>
            <td>{{ entity.abstract }}</td>
        </tr>
        <tr>
            <th>{% trans %}Image{% endtrans %}</th>
            <td align="center" valign="top"><img src="{{ asset('upload/' ~ entity.id ~'/' ~ entity.image) }}" alt=""
                                                 height="525" width="666"/></td>
        </tr>
        <tr>
            <th>{% trans %}Creation Date{% endtrans %}</th>
            <td>{{ entity.creationdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Content{% endtrans %}</th>
            <td>{{ entity.content }}</td>
        </tr>
        <tr>
            <th>{% trans %}Visit{% endtrans %}</th>
            <td>{{ entity.getVisit() }}</td>
        </tr>
        <tr>
            <th>{% trans %}Selected{% endtrans %}</th>
            <td>{{ entity.selected ? 'True' : 'False' }}</td>
        </tr>
        <tr>
            <th>{% trans %}Confirmed{% endtrans %}</th>
            <td>{{ entity.confirmed ? 'True' : 'False' }}</td>
        </tr>
        <tr>
            <th>{% trans %}Tags{% endtrans %}</th>
            <td>
                <ul>
                    {% for tag in entity.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>{% trans %}User{% endtrans %}</th>
            <td>{{ entity.user }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('news', {'_locale': _locale}) }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('news_edit', { 'id': entity.id, '_locale': _locale }) }}">
                {% trans %}Edit{% endtrans %}
            </a>
        </li>
        <li>
            <form action="{{ path('news_delete', { 'id': entity.id, '_locale': _locale }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button type="submit">
                    {% trans %}Delete{% endtrans %}
                </button>
            </form>
        </li>
    </ul>
{% endblock %}
