{% extends '::base.html.twig' %}

{% block body -%}
    <h1>News</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Abstract</th>
            <td>{{ entity.abstract }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td align="center" valign="top"><img src="{{ asset('upload/' ~ entity.id ~'/' ~ entity.image) }}" alt=""
                                                 height="525" width="666"/></td>
        </tr>
        <tr>
            <th>Creation Date</th>
            <td>{{ entity.creationdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ entity.content }}</td>
        </tr>
        <tr>
            <th>Visit</th>
            <td>{{ entity.visit }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('news') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('news_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <form action="{{ path('news_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}
