{% extends 'UserBundle:Default:home.html.twig' %}
{% set _locale = app.request.locale %}

{% block content %}
    <h3>
        {% trans %}Tag list{% endtrans %}
    </h3>

    <table class="records_list table"">
    <thead>
    <tr>
        <th>{% trans %}Id{% endtrans %}</th>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>
                <a href="{{ path('tag_show', { 'id': entity.id, '_locale': _locale }) }}">
                    {{ entity.id }}
                </a>
            </td>
            <td>{{ entity.name }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('tag_show', { 'id': entity.id, '_locale': _locale }) }}">
                            {% trans %}show{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('tag_edit', { 'id': entity.id, '_locale': _locale  }) }}">
                            {% trans %}edit{% endtrans %}
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tag_new', {'_locale': _locale }) }}">
                {% trans %}Create a new entry{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}
