{% extends 'UserBundle:Default:home.html.twig' %}
{% set _locale = app.request.locale %}

{% block content %}
    <h3>
        {% trans %}Tag{% endtrans %}
    </h3>

    <table class="record_properties table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('tag', {'_locale': _locale}) }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('tag_edit', { 'id': entity.id, '_locale': _locale }) }}">
                Edit
            </a>
        </li>
        <li>
            <form action="{{ path('tag_delete', { 'id': entity.id '_locale': _locale }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}
