{% extends 'UserBundle:Default:home.html.twig' %}
{% set _locale = app.request.locale %}

{% block content %}
    <h3>
        {% trans %}Tag{% endtrans %}
    </h3>

    <table class="record_properties table">
        <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>{% trans %}News{% endtrans %}</th>
            <td>
                <ul>
                    {% for news in entity.news %}
                        <li>{{ news }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('tag', {'_locale': _locale}) }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('tag_edit', { 'id': entity.id, '_locale': _locale }) }}">
                {% trans %}Edit{% endtrans %}
            </a>
        </li>
        <li>
            <form action="{{ path('tag_delete', { 'id': entity.id, '_locale': _locale }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button type="submit">{% trans %}Delete{% endtrans %}</button>
            </form>
        </li>
    </ul>
{% endblock %}
