{% extends lang =='fa' ? 'NewsBundle::layoutfa.html.twig' : 'NewsBundle::layouten.html.twig' %}
{% block body %}
    {% include 'NewsBundle::header.html.twig' with {'lang' : lang,'groups' : groups} %}
    <div id="gkpagecontent" class="gkPage">

    <div id="gkPageContent" class="gkPage">
        <section id="gkContent">
            <div id="gkContentCategory">
                <section id="gkBreadcrumb">
                    <div class="breadcrumbs">
                        <a href="/">صفحه اصلی</a> &gt; <a
                                href="{{ path('newsgroup_show',{'id' : group.id}) }}">{{ group.name }}</a>
                    </div>
                    {#<div class="ContentCount">#}
                    {#تعداد اخبار امروز: ۱۶#}
                    {#</div>#}
                    <!--[if IE 8]>
                    <div class="ie8clear"></div>
                    <![endif]-->
                </section>
                <section id="CategoryChoosen">
                    <div>
                        <section id="k2Container">
                            <div class="box bigtitle nsphover">
                                <div class="content">

                                    <div class="catTop nspArt nspCol30">
                                        <div style="min-height: 305px">
                                            <a href="{{ path("news_show",{'id':posts[0].id }) }}" target="_blank"
                                               class="nspImageWrapper tleft fleft gkResponsive">
                                                <img class="nspImage tleft fleft gkResponsive"
                                                     src="{{ posts[0].image }}" width="295px" style="opacity: 1;"></a>
                                            <h4 class="nspHeader tleft fnone"><a
                                                        href={{ path("news_show",{'id':posts[0].id }) }} target="_blank"
                                                title="">{{ posts[0].title }}</a></h4>

                                            <div class="nspHoverOverlay">
                                                <h4 class="nspHeader tleft fnone">
                                                    <a href="{{ path("news_show",{'id':posts[0].id }) }}"
                                                       target="_blank">{{ posts[0].title }}</a>
                                                </h4>

                                                <div class="nspText">
                                                    <a href="{{ path("news_show",{'id':posts[0].id }) }}"
                                                       target="_blank">{{ posts[0].abstract }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="catTop nspArt nspCol30">
                                        <div style="min-height: 305px">
                                            <a href="{{ path("news_show",{'id':posts[1].id }) }}" target="_blank"
                                               class="nspImageWrapper tleft fleft gkResponsive">
                                                <img class="nspImage tleft fleft gkResponsive"
                                                     src="{{ posts[1].image }}" width="295px" style="opacity: 1;"></a>
                                            <h4 class="nspHeader tleft fnone"><a
                                                        href="{{ path("news_show",{'id':posts[1].id }) }}"
                                                        target="_blank" title="">{{ posts[1].title }}</a></h4>

                                            <div class="nspHoverOverlay">
                                                <h4 class="nspHeader tleft fnone">
                                                    <a href="{{ path("news_show",{'id':posts[1].id }) }}"
                                                       target="_blank">{{ posts[1].title }}</a>
                                                </h4>

                                                <div class="nspText">
                                                    <a href="{{ path("news_show",{'id':posts[1].id }) }}"
                                                       target="_blank">{{ posts[1].abstract }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="catTop nspArt nspCol30">
                                        <div style="min-height: 305px">
                                            <a href="{{ path("news_show",{'id':posts[2].id }) }}" target="_blank"
                                               class="nspImageWrapper tleft fleft gkResponsive">
                                                <img class="nspImage tleft fleft gkResponsive"
                                                     src="{{ posts[2].image }}" width="295px" style="opacity: 1;"></a>
                                            <h4 class="nspHeader tleft fnone"><a href="/Home/Single/70841"
                                                                                 target="_blank"
                                                                                 title="">{{ posts[2].title }}</a></h4>

                                            <div class="nspHoverOverlay">
                                                <h4 class="nspHeader tleft fnone">
                                                    <a href="{{ path("news_show",{'id':posts[2].id }) }}"
                                                       target="_blank">{{ posts[2].title }}</a>
                                                </h4>

                                                <div class="nspText">
                                                    <a href="{{ path("news_show",{'id':posts[2].id }) }}"
                                                       target="_blank">{{ posts[2].abstract }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>
                    </div>
                </section>
                <section id="gkMainbody">
                    <div>
                        <div class='nsp bigtitle mobilelayout'>
                            <div class="content">
                                {% for index,post in posts %}
                                    {% if index < 15 %}
                                        <div class='nspArt nspCol1 categoryList'>
                                            <a href="{{ path("news_show",{'id':post.id }) }}" target='_blank'
                                               class='nspImageWrapper tleft fleft gkResponsive'>
                                                <img class='nspImage tleft fleft gkResponsive' src="{{ post.image }}"
                                                     width='170px' height='118px'></a>

                                            <div class='gkArtContentWrap'>
                                                <p class='nspInfo  nspInfo1 tleft fleft'></p>

                                    <span class='nspDate tright fright'>
                                        {#{{ post.creation_date }} gand zadam#}
                                    </span>

                                                <h4 class='nspHeader tleft fnone'><a
                                                            href="{{ path("news_show",{'id':post.id }) }}"
                                                            target='_blank'>
                                                        {{ post.title }}
                                                    </a></h4>

                                                <p class='nspText tleft fleft'>"{{ post.abstract }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="pagination">
                                <div class="wp-pagenavi">
                                <span class="pages">
                                    صفحه
                                    {{ currentpage }}
                                    از
                                    {{ numofpages }}
                                </span>
                                    <span class="current">{{ currentpage }}</span>
                                    {% set low=currentpage - (currentpage%10)+1 %}
                                    {% set high= currentpage +10-(currentpage%10) %}
                                    {% if high> numofpages-1 %}
                                        {% set high=numofpages-1 %}
                                    {% endif %}
                                    {% if currentpage > 1 %}
                                        <a href="{{ path('newsgroup_show',{'id' : group.id,'page':currentpage-1}) }}"
                                           class="previous">قبل</a>
                                    {% endif %}
                                    {% for i in range (low,high) %}
                                        <a href="{{ path('newsgroup_show',{'id' : group.id,'page':i}) }}"
                                           class="page">{{ i }}</a>
                                    {% endfor %}
                                    <a href="{{ path('newsgroup_show',{'id' : group.id,'page':high+1}) }}" class="page">...</a>
                                    <a href="{{ path('newsgroup_show',{'id' : group.id,'page':numofpages}) }}"
                                       class="page">{{ numofpages }}</a>
                                    {% if currentpage < numofpages %}
                                        <a href="{{ path('newsgroup_show',{'id' : group.id,'page':currentpage+1}) }}"
                                           class="next">بعد</a>
                                    {% endif %}
                                </div>

                                <!--wp-pagenavi-->
                            </div>


                        </div>
                    </div>
                </section>
            </div>
        </section>
        <aside id="gkSidebar">

            <div class="block_search_top">
                {# action dorost shavad #}
                <form action="/Search/Index" method="GET">
                    <div class="field">
                        <input type="text" class="w_def_text" id="search-box" name="query" title="چستجوی سریع">
                    </div>
                    <input type="hidden" name="submited" value="1">
                    <input type="hidden" name="positions" value="-1">
                    <input type="submit" class="button" id="search-button">

                    <div class="clearboth"></div>
                </form>
            </div>


            <div style="padding: 10px 22px 0 0;">

            </div>

            <div style="padding: 2px 5px 0 0;">

            </div>

            <div class="tabbed_area">
                <ul class="LeftTopTabs">
                    <li class="first" act="content_1"><a href="#">برگزیده</a></li>
                    <li class="middle active" act="content_2" style="float: left;"><a href="#">آخرین اخبار</a></li>

                </ul>
                <div id="content_1" class="content" style="display: none; overflow: hidden;">
                    <ul style="-webkit-transform: translateZ(0); height: 950px;">
                        {% for index,news in chosenews %}
                            {% if index < 15 %}
                                <li class="active"><a href="{{ path('news_show',{'id': news.id}) }}"
                                                      target="_blank">{{ news.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </div>
                <div id="content_2" class="content" style="display: block; overflow: hidden;">
                    <ul style="-webkit-transform: translateZ(0); height: 1390px;">
                        {% for index,news in recentnews %}
                            {% if index < 15 %}
                                <li class="active"><a href="{{ path('news_show',{'id': news.id}) }}"
                                                      target="_blank">{{ news.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            </div>


        </aside>

    </div>
    </div>
    <footer id="gkFooter" class="gkPage">


        <p id="gkCopyrights">© <a href="http://www.tasnimnews.com/" title="Tasnim News Agency">Tasnim News Agency</a>.
            All rights reserved.</p>


    </footer>
{% endblock body %}

