<header>
<div id=header>
<section class="top">
    <div class="inner">
        <div class="fr">
            <div class="block_top_menu">
                <ul>
                    {% if lang == 'en' %}
                    <li><a href="{{   path('news',{'lang':'fa'}) }}" target="_blank">فارسی</a></li>
                    {% else %}
                    <li><a href="{{   path('news',{'lang':'en'}) }}" target="_blank">english</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="block_social_top">
                <ul>
                    <li><a href="/rss/feed/?c=1&amp;m=6&amp;alt=????? ?????" class="rss">RSS</a></li>
                </ul>
            </div>
        </div>

        <div class="clearboth"></div>
    </div>
</section>
<section class="bottom">
    <div class="inner">
        <div id="logo_top">

        </div>





        <div class="clearboth"></div>
    </div>

</section>
<section class="section_main_menu">
    <div class="inner">
        <nav class="main_menu">
            <ul>
                <li class="big_dropdown current_page_item" data-content="MainPage"><a href="{{ path("news",{'lang':lang}) }}"  target="_self">صفحه اصلی</a>
                {% for  val in groups %}
                {#inja gand zadam too id havasam bashe val['group'].id#}
                    <li class="big_dropdown current_page_item" data-content="{{ val['group'].name }}"><a href="{{ path("newsgroup_show",{'id' :2 }) }}"  target="_self">{{ val['group'].name }}</a>
                    </li>
                {% endfor %}

            </ul>
        </nav>
    </div>
</section>
<section class="section_big_dropdown">
    <div class="inner">
        {%  for index,val in groups %}

                <div class="block_big_dropdown" data-menu="{{ val['group'].name }}" style="display: none;">
                    <div class="content">
                        {% for index,post in val['posts']  %}
                            {% if index<2 %}
                                <div class="image">
                                    <a href="{{ path('news_show',{'id': post.id}) }}"  target="_blank"  class ="pic" >
                                        <img src="{{ post.image }}" alt=""></a>
                                    <p><a href="{{ path("news_show",{'id':post.id}) }}" target="_blank">{{ post.title }}</a></p>
                                </div>
                                <div class="line"></div>
                            {% endif %}
                        {% endfor %}
                        <div class="popular_posts">
                            <div class="title">
                                <p>گزیده ای از اخبار</p>
                            </div>
                            <ul>

                        {% for index,post in val['posts'] %}
                            {% if index<7 %}
                                <li><a href="{{ path('news_show',{'id':post.id}) }}" target="_blank">{{ post.title }}
                                </a></li>
                            {% endif %}
                        {% endfor %}
                            </ul>
                        </div>
                        <div class="line"></div>

                        <div class="clearboth"></div>
                    </div>
                </div>


        {% endfor %}
    </div>
</section>
<section class="section_secondary_menu">
    <div class="inner">
        <nav class="secondary_menu">

            <span>گزیده ای از اخبار :</span>
            <div id="ticker-wrapper-1370343347593" class="ticker-wrapper has-js right"><div id="ticker-1370343347593" class="ticker"><div id="ticker-title-1370343347593" class="ticker-title" style="display: block;"><span style=""></span></div><p id="ticker-content-1370343347593" class="ticker-content" style="display: block; opacity: 1; right: 30px;"><a href="/Home/Single/69716">امام خمینی (ره) نقشه سیاسی جهان را عوض کرد</a></p><div id="ticker-swipe-1370343347593" class="ticker-swipe" style="right: 30px; margin-right: 227px; display: none;"><span style="display: block;"><!-- --></span></div></div></div>

        </nav>

        <div class="block_clock">

            <div id="ticker-wrapper-1370343347641" class="ticker-wrapper has-js right"><div id="ticker-1370343347641" class="ticker"><div id="ticker-title-1370343347641" class="ticker-title" style="display: block;"><span style=""></span></div><p id="ticker-content-1370343347641" class="ticker-content" style="display: block; opacity: 1; right: 20px;">الإثنین، ۲۴ رجب ۱۴۳۴ ۱:۱۳:۵۱ م</p><div id="ticker-swipe-1370343347641" class="ticker-swipe" style="right: 20px; margin-right: 42.3px;"><span style="display: block;"><!-- --></span></div></div></div>

        </div>

    </div>
</section>
</div>
</header>