<!DOCTYPE html>
<html>
<head>
    <script src="{{ asset('/bundles/news/js/*') }}"></script>
    <link rel="stylesheet" href="{{ asset('/bundles/news/css/fa/style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('/bundles/news/css/fa/Header.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('/bundles/news/css/fa/Custom.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('/bundles/news/css/fa/ticker-style.css') }}" type="text/css"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{% block title %}خبرگزاری{% endblock %}</title>
    {#{% block stylesheets %}#}
    {#{% if lang == 'en' %}#}
    {#{% else %}#}

    {#{% endblock %}#}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>


</head>
<body>
{% block body %}{% endblock %}
</body>
{% block javascripts %}{% endblock %}

</html>


