{% extends lang =='fa' ? 'NewsBundle::layoutfa.html.twig' : 'NewsBundle::layouten.html.twig' %}

{#<?php#}
        {#include_once("data.php");#}
        {#initializeVars();#}
        {#allCatContent();#}
{#?>#}
{% block body %}
    {% include 'NewsBundle::header.html.twig' with {'lang' : lang , 'groups' : groups} %}

    <div id="gkPageContent" class="gkPage">
        <section id='gkContent'>
            <div id='gkContentCategory'>
                <section id='gkBreadcrumb'>
                    <div class='breadcrumbs'>";
                        <a href='/'>صفحه اصلی</a> &gt;
                        <a href="{{ path('news_show',{'id':news.id}) }}"> {{ news.newsgroup.name }}</a>
                    </div>
                    <div class='ContentCount'>سرویس:
                        {{ news.newsgroup.name }}
                        ،تاریخ:
                        {#{{ news.creation_date }}#}
                        شناسه خبر‌:
                        {{ news.id }}
                    </div>
                </section>
                <section id='gkMainStory'>
                    <div>
                        <article id='k2Container' class='itemView'>";
                            {#post.bigimage ezafe shavad va alt va optional text va rating ha#}
                            <img src="{{ news.image }}" alt="" width='400px'>
                            <header>
                                <span>{{ news.title }}</span>

                                <h1>{{ news.title }}</h1>

                                <div class='Abstract'>{{ news.abstract }}
                                </div>
                            </header>
                            <div class="actionBox">
                                <a href="javascript:Print('70598');">
                                    <img src="../Images/Global/print.png" alt="print">
                                    <span>نسخه قابل چاپ</span>
                                </a>
                            </div>
                            <div class="itemBody StoryBody">
                                <div class="itemFullText">
                                    {#{% autoescape false %}#}
                                    {{ news.content |raw }}
                                    {#{% endautoescape %}#}

                                </div>

                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </section>
        {#comments#}
        <aside id="gkSidebar">

            <div class="box nsp color">
                <div class="splitHeader"><a href="/Home/Category/1" target="_blank">مرتبط</a></div>
                <div class="content side catList">
                    {% for post in relatednews %}
                        <div class="nspArt nspCol1">
                            <a href="{{ path('news_show',{'id':post.id}) }}" target="_blank"
                               class="nspImageWrapper tleft fleft gkResponsive">
                                <img class="nspImage tleft fleft gkResponsive" src="{{ post.image }}"></a>

                            <div class="gkArtContentWrap">
                                <h4 class="nspHeader tleft fnone"><a href="{{ path('news_show',{'id':post.id}) }}"
                                                                     target="_blank">post.title</a></h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </aside>
        <div id="gkCommentWrap">
            <section class='gkComment'>
                <div class="comBorder">
                    <div class="comHeader">
                        <div>
                            نظرات بینندگان
                        </div>
                    </div>


                </div>
                <div class="comment box nsp clear light header">
                    {% set curlevel = -1 %}
                    {% for i in range (0,news.comments |length -1) %}
                    {% if news.comments[i] is defined %}
                    {% for j in range(news.comments[i].level,curlevel) %}
                </div>
                {% endfor %}
                {% include 'HW3CommentBundle::comment.html.twig' with {'comment' : news.comments[i]} %}
                {% set curlevel=news.comments[i].level %}
                {% endif %}
                {% endfor %}
                {% if news.comments|length > 0 %}
        </div>
        {% endif %}


    </div>
    </section>



    </div>



    </div>
{% endblock %}
{% block script %}





