{% extends 'UserBundle:Default:home.html.twig' %}
{% set locale = app.request.locale %}

{% block content %}
    <h3>
        {% trans %}Comment edit{% endtrans %}
    </h3>

    <form action="{{ path('comment_update', { 'id': entity.id, '_locale': _local }) }}"
          method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT"/>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">
                {% trans %}Edit{% endtrans %}
            </button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('comment', {'_locale': _locale}) }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
        <li>
            <form action="{{ path('comment_delete', { 'id': entity.id, '_locale': _locale}) }}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button type="submit">
                    {% trans %}Delete{% endtrans %}
                </button>
            </form>
        </li>
    </ul>
{% endblock %}
