{% extends 'UserBundle:Default:home.html.twig' %}

{% block content %}
    <h3>
        {% trans %}Comment list{% endtrans %}
    </h3>

    <table class="records_list">
        <thead>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <th>{% trans %}Content{% endtrans %}</th>
            <th>{% trans %}Composer{% endtrans %}</th>
            <th>{% trans %}Creation_date{% endtrans %}</th>
            <th>{% trans %}Pos{% endtrans %}</th>
            <th>{% trans %}Neg{% endtrans %}</th>
            <th>{% trans %}Level{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('comment_show', { 'id': entity.id. '_locale': _locale }) }}">{{ entity.id }}</a>
                </td>
                <td>{{ entity.content }}</td>
                <td>{{ entity.composer }}</td>
                <td>{% if entity.creationdate %}{{ entity.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.pos }}</td>
                <td>{{ entity.neg }}</td>
                <td>{{ entity.level }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comment_show', { 'id': entity.id, '_locale': _locale}) }}">
                                {% trans %}show{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('comment_edit', { 'id': entity.id, '_locale': _locale}) }}">
                                {% trans %}edit{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comment_new', {'_locale': _locale}) }}">
                {% trans %}Create a new entry{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}
