{% extends 'UserBundle:Default:home.html.twig' %}
{% set _locale = app.requst.locale %}

{% block content %}
    <h3>
        {% trans %}Comment{% endtrans %}
    </h3>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Content{% endtrans %}</th>
            <td>{{ entity.content }}</td>
        </tr>
        <tr>
            <th>{% trans %}Composer{% endtrans %}</th>
            <td>{{ entity.composer }}</td>
        </tr>
        <tr>
            <th>{% trans %}Creation_date{% endtrans %}</th>
            <td>{{ entity.creationdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{% trans %}Pos{% endtrans %}</th>
            <td>{{ entity.pos }}</td>
        </tr>
        <tr>
            <th>{% trans %}Neg{% endtrans %}</th>
            <td>{{ entity.neg }}</td>
        </tr>
        <tr>
            <th>{% trans %}Level{% endtrans %}</th>
            <td>{{ entity.level }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('comment', {'_locale': _locale}) }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('comment_edit', { 'id': entity.id, '_locale': _locale }) }}">
                {% trans %}Edit{% endtrans %}
            </a>
        </li>
        <li>
            <form action="{{ path('comment_delete', { 'id': entity.id, '_locale': _locale }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                {{ form_widget(delete_form) }}
                <button type="submit">{% trans %}Delete{% endtrans %}</button>
            </form>
        </li>
    </ul>
{% endblock %}
